body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
#gamotvla{
    width: 100px;
    height: 30px;
    background-color: brown;
}